<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.databrain.db.mapper.AccountMapper">
    <resultMap id="accountDataObject" type="com.webank.databrain.db.entity.AccountDataObject">
        <result property="pkId" column="pk_id"/>
        <result property="username" column="username"/>
        <result property="accountType" column="account_type"/>
        <result property="did" column="did"/>
        <result property="privateKey" column="private_key"/>
        <result property="salt" column="salt"/>
        <result property="pwdhash" column="pwdhash"/>
        <result property="reviewState" column="review_state" />
        <result property="reviewTime" column="review_time" javaType="java.time.LocalDateTime"/>
        <result property="createTime" column="create_time" javaType="java.time.LocalDateTime"/>
        <result property="updateTime" column="update_time" javaType="java.time.LocalDateTime"/>
    </resultMap>



    <update id="createTable">
        CREATE TABLE IF NOT EXISTS`account` (
        `pk_id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
        `username` varchar(255) NOT NULL DEFAULT '' COMMENT '账号',
        `account_type` int(4) NOT NULL DEFAULT 0 COMMENT '用户类型',
        `did` varchar(255) NOT NULL DEFAULT '' COMMENT 'DID',
        `private_key` varchar(66) NOT NULL DEFAULT '' COMMENT '私钥',
        `salt` varchar(255) NOT NULL,
        `pwdhash` varchar(255) NOT NULL,
        `review_state` int(4) NOT NULL DEFAULT 0 COMMENT '审核状态',
        `review_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '审核时间',
        `create_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
        `update_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
        PRIMARY KEY (`pk_id`),
        UNIQUE KEY (`username`),
        UNIQUE KEY (`did`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8;

    </update>

    <select id="selectByName" resultMap="accountDataObject">
        SELECT * FROM `account` WHERE username = #{username};
    </select>

    <select id="selectByDid" resultMap="accountDataObject">
        SELECT * FROM `account` WHERE did = #{did};
    </select>

    <update id="updateReviewStatus">
        UPDATE `account` set review_state=#{status}, review_time = #{reviewTime} WHERE did = #{did};
    </update>

</mapper>
