<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.databrain.db.mapper.OrgInfoMapper">

    <resultMap id="idname" type="com.webank.databrain.model.resp.IdName">
        <result property="id" column="did"/>
        <result property="name" column="name"/>
    </resultMap>

    <resultMap id="ordDataObject" type="com.webank.databrain.db.entity.OrgInfoDataObject">
        <result property="pkId" column="pk_id"/>
        <result property="orgId" column="org_id"/>
        <result property="certType" column="cert_type"/>
        <result property="certContent" column="cert_content"/>
        <result property="contact" column="contact"/>
        <result property="createTime" column="create_time" javaType="java.time.LocalDateTime"/>
        <result property="updateTime" column="update_time" javaType="java.time.LocalDateTime"/>

    </resultMap>

    <update id="createTable">
        CREATE TABLE IF NOT EXISTS `org_info` (
        `pk_id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
        `org_id` varchar(255) NOT NULL DEFAULT '' COMMENT 'DID',
        `org_name` varchar(255) NOT NULL DEFAULT '' COMMENT '机构名称',
        `cert_type` int(4) NOT NULL DEFAULT 0 comment '证件类型',
        `cert_content` text COMMENT '证件内容',
        `contact` varchar(32) NOT NULL DEFAULT '' COMMENT '联系方式',
        `create_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
        `update_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
        PRIMARY KEY (`pk_id`),
        UNIQUE KEY (`org_id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8;
    </update>

    <select id="listHotOrgs" resultMap="idname">
        SELECT o.org_id as did, o.org_name as name FROM `org_info` o LIMIT 0, #{topN};
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(1) FROM `org_info`;
    </select>

    <select id="listOrgsByPage" resultMap="ordDataObject">
        SELECT * FROM `org_info` ORDER BY pk_id DESC LIMIT #{start},#{size}
    </select>
</mapper>
