<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.databrain.db.mapper.TokenMapper">


    <update id="createTable">
        CREATE TABLE IF NOT EXISTS`t_token` (
        `pk_id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
        `token` varchar(255) NOT NULL DEFAULT '' COMMENT 'token',
        `did`  varchar(255) NOT NULL DEFAULT '' COMMENT 'did',
        `expiredAt` timestamp NOT NULL COMMENT '过期时间',
        `create_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
        `update_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
        PRIMARY KEY (`pk_id`),
        UNIQUE KEY (`token`),
        UNIQUE KEY (`did`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8;


    </update>

    
    <update id="upsert">
        INSERT INTO `t_token`(`token`,`did`,`expiredAt`) VALUES(#{token}, #{did}, #{expiredAt})
        ON DUPLICATE KEY UPDATE token=#{token},did=#{did};
    </update>

</mapper>
